body {
    margin: 0;
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

canvas {
    background: #222;
    border: 8px solid #444;
    box-shadow: 0 0 20px #f0f;
}
